@{
    ViewData["Title"] = "Main";
}

<div>
    <img style="width: 200px;" src="~/images/signature.png" />
    <h1 class="display-4">Hexabitz Web Relay Hub Application</h1>
    <p>This is demo represent how to use the DOT-NET-COMS-LIB in ASP.NET core and how to connect to Relay modules and interact with them.</p>
</div>


<!-- Connection Options -->
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Connection Options</h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>COM</label>
                        <select id="COMSelect" name="COMSelect" class="form-control select2" style="width: 100%;">
                            <option>1</option>
                            <option>2</option>
                            <option selected="selected">3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Baud Rate</label>
                        <select id="BaudRateSelect" name="BaudRateSelect" class="form-control select2" style="width: 100%;">
                            <option>1200</option>
                            <option>2400</option>
                            <option>4800</option>
                            <option>9600</option>
                            <option>19200</option>
                            <option>38400</option>
                            <option>57600</option>
                            <option>115200</option>
                            <option>230400</option>
                            <option>460800</option>
                            <option selected="selected">921600</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Source</label>
                        <select id="SourceID" name="SourceID" class="form-control select2" style="width: 100%;">
                            <option >0</option>
                            <option selected="selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Destination</label>
                        <select id="DestinationID" name="DestinationID" class="form-control select2" style="width: 100%;">
                            <option >1</option>
                            <option selected="selected">2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-md" onclick="Connect()">Connect</button>
        <button class="btn-md" onclick="Disconnect()">Disconnect</button>


        <h4> Connection Status: <span id="connectionStatus">Disconnected</span></h4>
        <h4> Selected COM: <span id="COM">##</span></h4>
        <h4> Selected Baud Rate: <span id="BaudRate">######</span></h4>

    </div>
</div>

<div class="row">
    @*Left column*@
    <div class="col-md-12">

        <!-- Relays -->
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Relays Control</h3>
            </div>
            <div class="form-group">
                <button onclick="Save();">Save</button>
                <button onclick="Load();">Load</button>
                <span id="time"></span>
            </div>
            <div class="box-body">

                <div class="form-group">
                    <label>Relays count</label>
                    <select id="relayCount" name="relayCount" class="form-control select2" style="width: 100%;" onchange="CountChange(false)">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>


                <div id="relaysGroup" class="form-group row">
                    <div class="col-md-4">
                        <div class="box box-success">
                            <label>Room: </label>
                            <select id="3" class="form-control select2" style="width: 100%;" onchange="RoomChange(this.id, this.value);">
                                <option selected="selected">Kitchen</option>
                                <option>Living Room</option>
                                <option>Bed Room</option>
                            </select>
                            <img id="image3" class="center" style="width: 50%" src="~/images/h09r00.jpg" />
                            <br />
                            <label class="center">
                                <input id="relay3" type="checkbox" value="false" onclick="$(this).val(this.checked ? true : false); SendData(2);">
                                Relay 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //Logic control

    // connection options
    var COMSelect = document.getElementById("COMSelect");
    var BaudRateSelect = document.getElementById("BaudRateSelect");
    var SourceID = document.getElementById("SourceID");
    var DestinationID = document.getElementById("DestinationID");
    var ConnectionStatus = document.getElementById("connectionStatus");


    // Variables

    var relaysCount;
    var roomsConfiguration = [];

    function Connect() {
        $.ajax({
            url: '@Url.Action("Connect")',
            type: "POST",
            dataType: "json",
            data: {
                'COM': COMSelect.value,
                'BaudRate': BaudRateSelect.value,
            },
            success: function (response) {
                ConnectionStatus.innerHTML = "Connected";
                document.getElementById('COM').innerHTML = response.com;
                document.getElementById('BaudRate').innerHTML = response.baudRate;
            },
        });
    }

    function Disconnect() {
        $.ajax({
            url: '@Url.Action("Disconnect")',
            type: "POST",
            dataType: "json",
        });
        ConnectionStatus.innerHTML = "Disconnected";
        document.getElementById('COM').innerHTML = "Disconnected";
        document.getElementById('BaudRate').innerHTML = "Disconnected";
    }

    function SendData(DestinationID) {
        //debugger;
        //relayValues = [relay2.value,
        //relay3.value,
        //relay4.value,
        //relay5.value,
        //];

        $.ajax({
            url: '@Url.Action("SendData")',
            type: "POST",
            dataType: "json",
            data: {
                'SourceID': SourceID.value,
                'DestinationID': DestinationID,
                //'relayValues': relayValues,
            },
            success: function (response) {
                ConnectionStatus.innerHTML = "Connected";
                document.getElementById('COM').innerHTML = response.com;
                document.getElementById('BaudRate').innerHTML = response.baudRate;
            },
        });

    }

    function CountChange(load) {
        relaysCount = document.getElementById('relayCount').value;
        var relaysGroup = document.getElementById('relaysGroup');
        relaysGroup.innerHTML = "";

        for (var i = 2; i <= relaysCount; i++) {
            var div = document.createElement("div");
            div.setAttribute("class", "col-md-4");

            var div_box = document.createElement("div");
            div_box.setAttribute("class", "box box-success");

            div.appendChild(div_box);

            var roomLBL = document.createElement("label");
            roomLBL.innerHTML = "Room: ";
            div_box.appendChild(roomLBL);

            var roomSelect = document.createElement("select");
            roomSelect.id = i;
            roomSelect.setAttribute("class", "form-control select2");
            roomSelect.setAttribute("style", "width: 100%;");
            roomSelect.setAttribute("onchange", "RoomChange(this.id, this.value);");
            debugger;
            var selectedRoom = '';
            if (load) {
                selectedRoom = roomsConfiguration[i - 2];
                roomSelect.setAttribute('value', selectedRoom)
            }
            var option = document.createElement("option");
            option.innerHTML = "Kitchen";
            if (selectedRoom == 'Kitchen') { option.setAttribute('selected', 'selected'); }
            roomSelect.appendChild(option)

            var option = document.createElement("option");
            option.innerHTML = "Living Room";
            if (selectedRoom == 'Living Room') { option.setAttribute('selected', 'selected'); }
            roomSelect.appendChild(option)

            var option = document.createElement("option");
            option.innerHTML = "Bed Room";
            if (selectedRoom == 'Bed Room') { option.setAttribute('selected', 'selected'); }
            roomSelect.appendChild(option)

            div_box.appendChild(roomSelect);

            var img = document.createElement('img');
            img.id = `image${i}`;
            img.setAttribute("class", "center");
            img.setAttribute("style", "width: 50%;");
            switch (selectedRoom) {
                case 'Kitchen': img.setAttribute("src", "/images/kitchen.png"); break;
                case 'Living Room': img.setAttribute("src", "/images/living_room.png"); break;
                case 'Bed Room': img.setAttribute("src", "/images/bed_room.png"); break;
                default: img.setAttribute("src", "/images/kitchen.png"); break;
            }

            div_box.appendChild(img)
            div_box.appendChild(document.createElement("br"))

            var lbl = document.createElement("label");
            var input = document.createElement("input");
            var img = document.createElement('img');

            input.type = 'checkbox';
            input.value = false;
            input.setAttribute('onclick', `$(this).val(this.checked ? true : false); SendData(${i});`);

            lbl.setAttribute("class", "center");
            lbl.appendChild(input);
            lbl.append(` Relay ${i} `);

            div_box.appendChild(lbl)

            relaysGroup.appendChild(div);
        }
        var lbl = document.createElement("label");
        var input = document.createElement("input");

        input.type = 'checkbox';
        input.id = 'all';
        input.value = false;
        input.setAttribute('onclick', `$(this).val(this.checked ? true : false); All();`);

        lbl.appendChild(input);
        lbl.append(` All ${relaysCount}`);
        relaysGroup.appendChild(lbl);
    }

    function ToggleAll() {
        var RelaysCount = document.getElementById('relayCount').value;

        $.ajax({
            url: '@Url.Action("ToggleAll")',
            type: "POST",
            dataType: "json",
            data: {
                'RelaysCount': RelaysCount,
            },
        });
    }

    function All() {
        debugger;
        var value = document.getElementById('all').value;

        if (value == "true")
            AllOn();
        else
            AllOff();
        
    }

     function AllOn() {
        $.ajax({
            url: '@Url.Action("AllOn")',
            type: "POST",
            dataType: "json",
        });
    }

     function AllOff() {
        $.ajax({
            url: '@Url.Action("AllOff")',
            type: "POST",
            dataType: "json",
        });
    }

    function RoomChange(ID, Value) {
        console.log(ID);
        console.log(Value);
        var image = document.getElementById(`image${ID}`);
        switch (Value) {
            case 'Kitchen': image.setAttribute('src', '/images/kitchen.png'); break;
            case 'Living Room': image.setAttribute('src', '/images/living_room.png'); break;
            case 'Bed Room': image.setAttribute('src', '/images/bed_room.png'); break;
        }

    }

    function Save() {
        //debugger;
        if (localStorage) {
            localStorage.setItem("relaysCount", relaysCount.toString());
            roomsConfiguration = [];
            for (var i = 2; i <= relaysCount; i++) {
                var roomSelectValue = document.getElementById(i).value;
                roomsConfiguration.push(roomSelectValue);
            }
            localStorage.setItem("roomsConfiguration", roomsConfiguration);
        }
    }



    function Load() {
        relaysCount = localStorage.getItem("relaysCount");
        roomsConfiguration = localStorage.getItem("roomsConfiguration");
        roomsConfiguration = roomsConfiguration.split(",");
        document.getElementById('relayCount').value = relaysCount;

        CountChange(true);
        document.getElementById('time').innerHTML = relaysCount;
    }

    function getSessionCount() {
        var count = 0;
        if (sessionStorage) {
            var count = sessionStorage.getItem("ss_count");
            count = !count ? 0 : count * 1;
        }
        $("#txtSession").val(count);
        return count;
    }

    function setSessionCount(count) {
        if (sessionStorage)
            sessionStorage.setItem("ss_count", count.toString());
    }

</script>
